.app-header {
  background-color: #1976d2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}