  <section class="about-me">
    <div class="card">
      <img src="https://shorturl.at/7pKlE" alt="Profile Photo" class="profile-img">
      <h1 class="name">Jane Doe</h1>
      <p class="bio">
        I'm a front-end web developer who loves building user-friendly web interfaces with Angular, HTML, CSS, and JavaScript.
      </p>

      <div class="details">
        <p><strong>Email:</strong> jane.doe[at]example.com</p>
        <p><strong>Phone:</strong> +1 234 567 8901</p>
        <p><strong>Location:</strong> San Francisco, CA</p>
      </div>
    </div>
  </section>

  <p>somthing write  <input type="text" id="text" [(ngModel)]="firstName"></p>
  <p>text - {{firstName}}</p>