<section class="about-section" style="padding-top: 10rem;">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4">
            <h3 class="w3l-title-main">Contact Us</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="#url">Email</a></h5>
                        <p>vagish.sharma[at]locobuzz.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fa-solid fa-phone-volume"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="#url"> Phone</a></h5>
                        <p>+91 - 9761198050</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-3">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fa fa-app"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="#url">Social Media</a></h5>
                        <div class="social">
                        <ul>
                            <li><a href="#url"><span class="fab me-2 fa-facebook-f"></span></a></li>
                            <li><a href="#url"><span class="fab me-2 fa-twitter"></span></a></li>
                            <li><a href="#url"><span class="fab me-2 fa-google-plus"></span></a></li>
                            <li><a href="#url"><span class="fab me-2 fa-pinterest"></span></a></li>
                            <li><a href="#url"><span class="fab me-2 fa-vk"></span></a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>